* {
    box-sizing: border-box;
}

body{
    background-color: #D3D3D3;
    overflow-x: hidden;
}

nav{
    background-color: rgba(248,249,250, 0.9);
}

#class-cards .card{
    margin: 2%;
    border-radius: 5%;
    min-height: 180px;
    justify-content: center;
    vertical-align: middle;
    border-width: 2px;
    border-color: black;
}

.card-link{
    text-decoration: none;
    color: black;
}

.card-link:hover{
    text-decoration: none;
    color: rgb(75, 75, 75);
}

#class-cards .card:hover{
    border-color: rgba(150, 150, 150);
}

#class-card .card-title{
    background-color: rgb(240, 128, 128);
    text-align: center;
    justify-content: center;
    align-self: center;
}

#class-card .card-header{
    background: #0400ff50;
    text-align: center;
}

footer {
    background-color: rgba(248,249,250, 0.9);
    color: rgb(117, 117, 117);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #addClass {
      text-decoration: none;
      color: white;
  }

  .card-settings{
      position: absolute;
      right: 10px;
      top: 5px;
      width: 20px;
      height: 20px;
      border: none;
      padding: 0px;
  }

  .class-name{
      opacity: 100%;
      color: black;
  }